:host {
    display: flex;
    height: 90%;
}

.login-card {
    background-color: white;
    color: #4f1486;
    width: 100%;
}

.email,
.password,
.lname,
.fname {
    background-color: #f3ecfc;
}

.submit-button,
.submit-button:active,
.submit-button:hover {
    width: 100%;
    margin-top: 2rem;
    background-color: #8759b2 !important;
    border: none;
    border-radius: 0;
    outline: none;
}

.login-page-title {
    text-align: center;
    margin-top: 2rem;
    font-family: monospace;
}

.spinner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-label {
    color: #4f1486;
}

.back-button {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    color: #4f1486;
}