<ng-container *ngIf="posts.length; else showDefault">
    <div class='col-md-7 row'>
        <ng-container *ngFor="let post of posts">
            <div class="post-image">
                <img [src]="post?.imagePath" />
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-template #showDefault>
    <div *ngIf="(isAdmin | async) === false; else showEmpty" class="empty">
        <input type="file" #filePicker (change)="onImagePicked($event)" />
        <div class="post-image" (click)="triggerFileInput()">Post Image</div>
    </div>
    <ng-template #showEmpty>
        <div class="empty">
            <p>No Images</p>
        </div>
    </ng-template>
</ng-template>