.sidebar-wrapper {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 1px;
    padding: 1rem;
    background-color: rgba(235, 222, 252, 0.9878545168067226);
}

.div-wrapper {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    font-size: large;
    padding-left: 2rem;
}

.icons {
    margin-right: 1rem;
    color: #4f1486;
}

.post-image-wrapper {
    padding: 0rem;
    display: block;
    text-align: center;
    background-color: #8759b2;
    color: white;
    margin-top: 0.5rem;
}

.post-image {
    position: relative;
    bottom: 1rem;
}

input[type='file'] {
    visibility: hidden;
}

.label {
    color: #4f1486;
}